<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">

  <title>Greater Portland Hat Collection</title>

  <style>

  .hats-page {
    background: #eee;
    margin: 15px 0;
  }

  #main-col {
    max-width: 90%;
  }

  #main-col #collection {
    width: auto;
  }

  #collection td {
    border-top: none
  }

  .card {
    max-height: 550px;

    padding: 20px;
    margin: 15px 0;

    border-radius: 15px;
  }

  .card-inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .card-body {
    white-space: normal;
  }

  .card .badge {
    cursor: pointer;
  }

  .card-text {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 0;
  }

  .hats-page .card-body {
    padding-bottom: 0
  }

  .hat-img {
  }

  .card-body, .hat-img {
    vertical-align:top;
  }

  @media (min-width: 1400px) {
    #main-col {
      max-width: 85%;
    }
  }

  @media (min-width: 1400px) {
    #main-col {
      max-width: 85%;
    }
  }

  </style>

{# JQuery #}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{# Bootstrap 4 #}
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  {% set base="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0" %}
  <link rel="stylesheet" href="{{base}}/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="{{base}}/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{# Datatables for sorting rows; See https://datatables.net/download/ #}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>

  </head>

{% set description = "This hat came from a small shop in England in 2022. Notice the attention to ... And the texture. Both are signs of good construction." %}

{%- macro card(element) -%}
{%- set name  = element["name"] -%}
{%- set aspectratio = element["size"][0] / element["size"][1] -%}
{%- set url = element["thumbnails"][0] if element["thumbnails"] else "generic_hat.jpg" -%}
<div class="card">
  <div class="card-inner">
  {% if aspectratio > 1.2 %}
    <div>
      <img class="hat-img rounded col-8 p-0" loading="lazy" src="{{ url }}" alt="{{ name }}">
      <div class="card-body col-4 d-inline-block">
        <h5 class="hat-name">{{ name }}</h5>
        <span>
        {%- for tag in element["tags"] -%}
          <span class="badge badge-primary">{{ tag }}</span>
          {%- if not loop.last -%}&ensp;{%- endif -%}
        {%- endfor -%}
        </span>
      </div>
    </div>
    <div>
      <p class="card-text">Horizontal {{description}}</p>
    </div>
  {% else %}
    <div>
      <div>
        <img class="hat-img rounded col-6 p-0" loading="lazy" src="{{ url }}" alt="{{ name }}">
        <div class="card-body col-6 d-inline-block">
          <h5 class="hat-name">{{ name }}</h5>
          <span>
          {%- for tag in element["tags"] -%}
            <span class="badge badge-primary">{{ tag }}</span>
            {%- if not loop.last -%}&ensp;{%- endif -%}
          {%- endfor -%}
          </span>
          <p class="card-text">Vertical {{description}}</p>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</div>
{%- endmacro -%}

{%- macro card_row(element) -%}
{%- set name  = element["name"] -%}
    <tr class="col-xl-4 col-lg-6">
      <td class="p-0">
        {{card(element)}}
      </td>
    </tr>

{%- endmacro -%}

{% macro card_section(data) -%}
<table id="collection" class="table">
  <thead class="thead-light d-none">
    <tr>
      <th scope="col">Card</th>
    </tr>
  </thead>
  <tbody class="d-flex row">
    {% for name, card_data in data.items() %}
      {{ card_row(card_data) }}
    {% endfor %}
  </tbody>
</table>

{#
  <div id="collection" class="row">
    {% for name, card_data in data.items() %}
      {{ card(card_data) }}
    {% endfor %}
  </div>
#}
{%- endmacro %}

<body class="hats-page">
  <div id='main-col' class="container">
    <h1 class="text-center">Photos of the Greater Portland Hat Collection</h1>
    <br>

    <div>
      <div class="d-flex justify-content-center">
        The online portal for the Greater Portland Hat collection
        currently contains {{ collection | length }} hats and {{ count_tags }} tags.
        <br>
        Metadata last updated {{ last_update.strftime("%Y-%m-%d") }}
      </div>

      <div class="d-flex justify-content-center">
        {{ card_section( collection ) }}
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="hat-modal" tabindex="-1" role="dialog" aria-labelledby="hatLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hatLabel">Hat Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex">
          <div>
            <div class="card-inner text-center">
              <img class="hat-img rounded p-0" loading="lazy" src="..." alt="...">
            </div>
            <div>
              <p class="card-text">{{ description }} </p>
              <p class="card-text">{{ description }} </p>
              <p class="card-text">{{ description }} </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  $(document).ready(function () {
    // Get badges before some rows are hidden
    var cards = $('.card');
    var badges = $('.badge');
    console.log("|cards| =", cards.length);
    console.log("|badges| =", badges.length);

    var table = $('#collection').DataTable({
      "aoColumnDefs": [
      ],
      searching: true,
      ordering: false,
      pageLength: 24,
      lengthMenu: [24, 48, 96],
    });
    $('.dataTables_length').addClass('bs-select');

    badges.on("click", function (event) {
      var text = event.currentTarget.innerText;
      console.log("Searching for ", text)
      table.search(text).draw();
      event.stopPropagation();
    });

    var modal = $('#hat-modal');
    cards.on("click", function (event) {
      var card = event.currentTarget;
      console.log(card);
      card = $(card)
      var name = card.find(".hat-name").text();
      modal.find("#hatLabel").text(name);
      modal.find(".hat-img").replaceWith(card.find(".hat-img").clone());
      modal.modal('show');
    });
  });
</script>
</html>
